<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641977323707-mobq87v41i7hembjibrbgputl8sqm7go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641977323707-mobq87v41i7hembjibrbgputl8sqm7go</string>
	<key>API_KEY</key>
	<string>AIzaSyCY4NKFWXti_clJJzwTxCc1yQDQKK5ogMo</string>
	<key>GCM_SENDER_ID</key>
	<string>641977323707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.CidadeQueEuQuero</string>
	<key>PROJECT_ID</key>
	<string>cidadequeeuquero-42b82</string>
	<key>STORAGE_BUCKET</key>
	<string>cidadequeeuquero-42b82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641977323707:ios:2b8680355251aae32c999e</string>
	<key>DATABASE_URL</key>
	<string>https://cidadequeeuquero-42b82.firebaseio.com</string>
</dict>
</plist>